body {
  margin: 0;
  font-family: "Prompt", sans-serif;
}
h1 {
  font-size: 50px;
  color: #444;
}
h2 {
  font-size: 40px;
  color: #444;
}
.red-color {
  color: #df2534;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
  align-items: center;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.one-third-width {
  width: 33.33%;
}
.half-width img {
  width: 90%;
}
.header {
  display: flex;
  padding: 10px 0;
  box-shadow: 1px 1px 30px #eee;
}
.header img {
  width: 200px;
  height: 40px;
}
.header input {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 10px;
}
.header button {
  background-color: #df2534;
  border: 1px solid #ddd;
  padding: 10px;
  color: #fff;
  font-weight: 700;
}
.top-banner {
  padding: 50px 0;
  margin: auto;
}
.link-button {
  display: inline-block;
  background-image: linear-gradient(#df2534, #eb6076);
  padding: 10px 40px;
  margin-top: 15px;
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

/* About area start */
.about-area {
  background-image: url(images/about-bg.jpg);
  background-size: cover;
  padding: 50px 0;
}
.about-area p {
  width: 80%;
}
/* About area end */

/* My Recipi Area Start */
.my-recipi-area {
  width: 90%;
  margin: auto;
  text-align: center;
}
.my-recipi-area h1 {
  margin-bottom: 0;
}
.my-recipi-item {
  width: 32%;
  box-shadow: 10px 10px 30px #eee;
  border-radius: 15px;
  padding: 15px;
  text-align: left;
}
.my-recipi-item:nth-child(2) {
  margin: 0 2%;
}
.my-recipi-item img {
  width: 100%;
  border-radius: 15px;
}
.my-recipi-item h2 {
  margin-bottom: 0;
}
/* My Recipi Area End */

/* Counter Area Start */
.counter-area {
  display: flex;
  width: 90%;
  margin: 0 auto 100px auto;
  padding: 50px 0;
  box-shadow: 10px 10px 30px #eee;
  border-radius: 15px;
  text-align: center;
}
.counter-area h2 {
  margin: 0;
}
.counter-area p {
  margin: 0;
}
/* Counter Area End */

/* Partner and Odder Inof Area Start */
.partner-and-why-order-area {
  background-image: url(images/pw-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
#partner {
  padding-left: 20px;
  border-left: 5px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#partner li {
  list-style-type: square;
  color: #df2534;
}
#partner li span {
  color: #000;
}

#why-order-with-us {
  padding-left: 20px;
  border-left: 5px solid;
  border-image: linear-gradient(red, green);
  border-image-slice: 1;
}
#why-order-with-us li {
  list-style-type: square;
  color: #df2534;
}
#why-order-with-us li span {
  color: #000;
}
/* Partner and Odder Inof Area End */

/* App Download Area Start */
.app-download-area {
  background-image: url(images/app-bg.jpg);
  background-size: cover;
  padding: 100px;
}
.app-download-area img {
  padding-right: 10px;
}
/* App Download Area End */

/* Footer Start */
footer {
  background-color: #000;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}
/* Footer End */
